p.line {
  position: relative;
  display: block;
  width: 100%;
}
p.line:after {
  position: absolute;
  bottom: 35%;
  left: 10%;
  right: 0;
  content: "";
  width: 80%;
  height: 1px;
  border-bottom: 1px solid #acaaa7;
  z-index: -1;
}
